#seccionComerciantes{
    background-color: #806a46;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
#seccionPublicaciones{
    background-color: #806a46;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.menu-bar{
    position: relative;
    z-index: 100;
    margin-top: 10px;
}
.header-fixed{
    width: 58.35%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .4s ease;
    margin-top: -80px;
    padding: 0 36px;
    justify-content: space-between;
    flex-direction: row;
    
}