#seccionComerciantes{
    background-color: #806a46;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
#seccionPublicaciones{
    background-color: #806a46;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.menu-bar{
    position: relative;
    z-index: 100;
    margin-top: 10px;
}
.header-fixed{
    margin-left: 80px;
    background-color: rgba(255, 238, 75, 0.8);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .4s ease;
    margin-top: -80px;
    justify-content: space-between;
    flex-direction: row; 
}